<p id="notice"><%= notice %></p>

<p>
  <strong>Feed:</strong>
  <%= @item.feed_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Content html:</strong>
  <%= @item.content_html %>
</p>

<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>External url:</strong>
  <%= @item.external_url %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @item.summary %>
</p>

<p>
  <strong>Date published:</strong>
  <%= @item.date_published %>
</p>

<%= link_to 'Edit', edit_admin_item_path(@item) %> |
<%= link_to 'Back', admin_items_path %>
