<% @items.each do |item| %>
  <article>
    <div>
      <h1 class="post-title">
        <% if item.title.present? %>
          <a href="<%= item.url %>" target="_blank">
            <%= item.title %>
          </a>
        <% end %>
        <%= item.id %>
        <% if item.starred %>
          🤩
        <% else %>
          😶
        <% end %>
      </h1>
      <p class="post-meta">
        Posted
        <% if item.feed.name.present? %>
          to
          <% if item.feed.website_url.present? %>
            <a href="<%= item.feed.website_url %>" target="_blank"><%= item.feed.name %></a>
          <% else %>
            <%= item.feed.name %>
          <% end %>
        <% end %>
        <a href="<%= item.url %>" target="_blank"><%= time_ago_in_words(item.date_published) %> ago</a>
      </p>

      <% if item.content_html.present? %>
        <%= item.content_html.html_safe %>
      <% end %>
    </div>
  </article>
<% end %>
