<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Name</th>
      <th>Last checked</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.url %></td>
        <td><% if feed.website_url.present?%><%= link_to feed.name, feed.website_url %><% else %><%= feed.name %><% end %></td>
        <td><% if feed.last_checked.present? %><%= time_ago_in_words(feed.last_checked) %> ago<% end %></td>
        <td><%= feed.status %></td>
        <td><%= link_to 'Show', [:admin, feed] %></td>
        <td><%= link_to 'Edit', edit_admin_feed_path(feed) %></td>
        <td><%= link_to 'Destroy', [:admin, feed], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_admin_feed_path %>
