<% content_for :title do %>
  <%= @title %>
<% end %>

<% @items.each do |item| %>
  <article id="article-<%=item.id%>" <%if item == @items.first%>class="selected"<%end%>>
    <div>
      <h1 class="post-title">
        <% if item.title.present? %>
          <a href="<%= item.url %>" target="_blank">
            <%= item.title %>
          </a>
        <% end %>
        <%= render "starred", item: item %>
      </h1>
      <p class="post-meta">
        Posted
        <% if item.feed.name.present? %>
          to
          <% if item.feed.website_url.present? %>
            <a href="<%= item.feed.website_url %>" target="_blank"><%= item.feed.name %></a>
          <% else %>
            <%= item.feed.name %>
          <% end %>
        <% end %>
        <a href="<%= item.url %>" target="_blank"><%= time_ago_in_words(item.date_published) %> ago</a>
      </p>

      <% if item.content.present?%>
        <%= item.content.html_safe %>
      <% end %>
    </div>
  </article>
<% end %>
<% unless @items.empty? %>
  <div>
    <h3><%= link_to  "🤞🤞 More items", items_url(s: @items.last.date_published) %></h3>
  </div>
<% end %>

